<!DOCTYPE html>
<html>
    <title>{% block page_title %}{% endblock %} -  CSM 3313 JomMakan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <body>
        <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar"> 
            <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
            <a href="/" class="w3-bar-item w3-button">Home</a>

        </nav>    
        <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader">
            <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
            <div class="w3-center">
                <h4>Internet of Things </h4>
                <h1 class="w3-xxxlarge w3-animate-bottom">Jommakan Cafe</h1>
            
            </div>
        </header>
            
        {% block page_content %}{% endblock %}
    </body>
    
</html>